<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:yq="http://www.yqboots.com" xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <title th:text="#{T0062}">Role Management</title>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <yq:breadcrumbs menu="PROJECT_SECURITY_ROLE"/>
</div>
<div class="content content-sm height-600" layout:fragment="content">
  <div class="container">
    <yq:alert level="danger"/>
    <form class="sky-form" action="#" th:action="@{/security/role/}" th:object="${model}" method="post">
      <input th:field="*{existed}" type="hidden"/>
      <header th:text="#{T0065}">Role Maintenance Form</header>
      <fieldset>
        <div class="row">
          <section class="col col-6">
            <label class="label" th:text="#{T0030}">Path</label>
            <label class="input" th:classappend="*{existed}? 'state-disabled'">
              <input th:field="*{path}" type="text" maxlength="255" th:readonly="*{existed}"/>
            </label>

            <p th:if="${#fields.hasErrors('path')}" th:errors="*{path}"></p>
          </section>
          <section class="col col-6">
            <label class="label" th:text="#{T0071}">Alias</label>
            <label class="input">
              <input th:field="*{alias}" type="text" maxlength="64"/>
            </label>

            <p th:if="${#fields.hasErrors('alias')}" th:errors="*{alias}"></p>
          </section>
        </div>
        <section>
          <label class="label" th:text="#{T0023}">Description</label>
          <label class="textarea">
            <textarea th:field="*{description}" rows="3" maxlength="255"></textarea>
          </label>

          <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
        </section>
      </fieldset>
      <fieldset>
        <div class="row">
          <section class="col col-6">
            <label class="label" th:text="#{T0075}">Selected Users</label>
            <label class="select select-multiple">
              <select th:field="*{users}" multiple="multiple" size="5">
                <yq:options name="ROLE_USERS" attributes="*{path}"/>
              </select>
            </label>

            <button class="btn-u rounded" id="removeUsers" type="button" th:title="#{T0081}">
              <i class="fa fa-angle-right"></i>
            </button>
          </section>
          <section class="col col-6">
            <label class="label" th:text="#{T0074}">Selectable Users</label>
            <label class="select select-multiple">
              <select id="selectableUsers" multiple="multiple" size="5">
                <yq:options name="ALL_USERS" />
              </select>
            </label>

            <button class="btn-u rounded" id="addUsers" type="button" th:title="#{T0079}">
              <i class="fa fa-angle-left"></i>
            </button>
          </section>
        </div>
      </fieldset>
      <fieldset>
        <div class="row">
          <section class="col col-6">
            <label class="label" th:text="#{T0073}">Selected Groups</label>
            <label class="select select-multiple">
              <select th:field="*{groups}" multiple="multiple" size="5">
                <yq:options name="ROLE_GROUPS" attributes="*{path}"/>
              </select>
            </label>

            <button class="btn-u rounded" id="removeGroups" type="button" th:title="#{T0081}">
              <i class="fa fa-angle-right"></i>
            </button>
          </section>
          <section class="col col-6">
            <label class="label" th:text="#{T0072}">Selectable Groups</label>
            <label class="select select-multiple">
              <select id="selectableGroups" multiple="multiple" size="5">
                <yq:options name="ALL_GROUPS" />
              </select>
            </label>

            <button class="btn-u rounded" id="addGroups" type="button" th:title="#{T0079}">
              <i class="fa fa-angle-left"></i>
            </button>
          </section>
        </div>
      </fieldset>
      <footer>
        <button class="btn-u rounded" id="submit" type="submit" th:text="#{T0012}">Submit</button>
        <button class="btn-u rounded" id="cancel" type="button" th:text="#{T0066}">Cancel</button>
      </footer>
    </form>
  </div>
</div>
</body>
</html>