<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <title th:text="#{T0007}">Bootstrap your application simply, quickly and efficiently</title>
</head>
<body>
<div layout:fragment="breadcrumbs" class=""></div>
<div class="content content-md height-600" layout:fragment="content">
  <div class="container">
    Hello YQBoots!
  </div>
</div>
</body>
</html>