<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:yq="http://www.yqboots.com" xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <title th:text="#{T0061}">Group Management</title>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <yq:breadcrumbs menu="PROJECT_SECURITY_GROUP"/>
</div>
<div class="content content-sm height-600" layout:fragment="content">
  <div class="container">
    <yq:alert level="danger"/>
    <form class="sky-form" action="#" th:action="@{/project/security/group}" th:object="${model}" method="post">
      <input th:field="*{id}" type="hidden"/>
      <header th:text="#{T0064}">Group Maintenance Form</header>
      <fieldset>
        <div class="row">
          <section class="col col-6">
            <label class="label" th:text="#{T0030}">Path</label>
            <label class="input">
              <input th:field="*{path}" type="text" maxlength="255"/>
            </label>

            <p th:if="${#fields.hasErrors('path')}" th:errors="*{path}"></p>
          </section>
          <section class="col col-6">
            <label class="label" th:text="#{T0071}">Alias</label>
            <label class="input">
              <input th:field="*{alias}" type="text" maxlength="64"/>
            </label>

            <p th:if="${#fields.hasErrors('alias')}" th:errors="*{alias}"></p>
          </section>
        </div>
        <section>
          <label class="label" th:text="#{T0023}">Description</label>
          <label class="textarea">
            <textarea th:field="*{description}" rows="3" maxlength="255"></textarea>
          </label>

          <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
        </section>
      </fieldset>
      <footer>
        <button class="btn-u" type="submit" th:text="#{T0012}">Submit</button>
        <button class="btn-u" type="reset" th:text="#{T0013}">Reset</button>
      </footer>
    </form>
  </div>
</div>
</body>
</html>