/*404 Error Page
------------------------------------*/
.error {
    padding-bottom: 10px;
    text-align: center;
}

.error p {
    color: #555;
    font-size: 16px;
}

.error span {
    color: #555;
    display: block;
    font-size: 35px;
    font-weight: 200;
}

.error span.error-title {
    color: #777;
    font-size: 180px;
    line-height: 200px;
    padding-bottom: 20px;
}

/*For Mobile Devices*/
@media (max-width: 500px) {
    .error p {
        font-size: 12px;
    }

    .error span {
        font-size: 25px;
    }

    .error span.error-title {
        font-size: 140px;
    }
}