<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <title>YuQi Boots Web Application</title>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/cube-portfolio/css/cubeportfolio.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/cube-portfolio/custom/custom-cubeportfolio.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs"></div>
<div layout:fragment="content" class="content-sm">
  <div class="container">
    <!-- Service Blocks -->
    <div class="row margin-bottom-30">
      <div class="col-md-4">
        <div class="service">
          <i class="fa fa-compress service-icon"></i>
          <div class="desc">
            <h4>Fully Responsive</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <i class="fa fa-cogs service-icon"></i>
          <div class="desc">
            <h4>HTML5 + CSS3</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <i class="fa fa-rocket service-icon"></i>
          <div class="desc">
            <h4>Launch Ready</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Service Blocks -->
  </div>
  <!--=== Cube-Portfolio ===-->
  <div class="cube-portfolio container margin-bottom-60">
    <div class="content-xs">
      <div id="filters-container" class="cbp-l-filters-text content-xs">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</div>
        |
        <div data-filter=".tools" class="cbp-filter-item">Tools</div>
      </div><!--/end Filters Container-->
    </div>

    <div id="grid-container" class="cbp-l-grid-agency">
      <div class="cbp-item tools">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img th:src="@{/theme/images/demo.jpg}" alt=""/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a th:href="@{/prototype/initializer/index}"><i class="rounded-x fa fa-link"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Project Initializer</div>
          <div class="cbp-l-grid-agency-desc">Tools</div>
        </div>
      </div>
    </div><!--/end Grid Container-->
  </div>
  <!--=== End Cube-Portfolio ===-->
</div>
</body>
</html>