<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <title>YuQi Boots Web Application</title>
</head>
<body>
<div layout:fragment="breadcrumbs"></div>
<div layout:fragment="content" class="content-sm">
  <div class="container">
    <!-- Service Blocks -->
    <div class="row margin-bottom-30">
      <div class="col-md-4">
        <div class="service">
          <i class="fa fa-compress service-icon"></i>
          <div class="desc">
            <h4>Fully Responsive</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <i class="fa fa-cogs service-icon"></i>
          <div class="desc">
            <h4>HTML5 + CSS3</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <i class="fa fa-rocket service-icon"></i>
          <div class="desc">
            <h4>Launch Ready</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Service Blocks -->
  </div>
  <!--=== Cube-Portfolio ===-->
  <div class="cube-portfolio container margin-bottom-60">
    <div class="content-xs">
      <div id="filters-container" class="cbp-l-filters-text content-xs">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All</div>
        |
        <div data-filter=".identity" class="cbp-filter-item"> Identity</div>
        |
        <div data-filter=".web-design" class="cbp-filter-item"> Web Design</div>
        |
        <div data-filter=".graphic" class="cbp-filter-item"> Graphic</div>
        |
        <div data-filter=".logos" class="cbp-filter-item"> Logo</div>
      </div><!--/end Filters Container-->
    </div>

    <div id="grid-container" class="cbp-l-grid-agency">
      <div class="cbp-item graphic">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img th:src="@{/theme/images/demo.jpg}" alt=""/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 01</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item web-design logos">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img th:src="@{/theme/images/demo.jpg}" alt=""/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 02</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item graphic logos">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img th:src="@{/theme/images/demo.jpg}" alt=""/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 03</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item web-design graphic">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img th:src="@{/theme/images/demo.jpg}" alt=""/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 04</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item identity web-design">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img th:src="@{/theme/images/demo.jpg}" alt=""/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 05</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item identity web-design">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img th:src="@{/theme/images/demo.jpg}" alt=""/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 06</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item web-design identity">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img th:src="@{/theme/images/demo.jpg}" alt=""/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 07</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item identity logo">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img th:src="@{/theme/images/demo.jpg}" alt=""/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 08</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
      <div class="cbp-item graphic">
        <div class="cbp-caption margin-bottom-20">
          <div class="cbp-caption-defaultWrap">
            <img th:src="@{/theme/images/demo.jpg}" alt=""/>
          </div>
          <div class="cbp-caption-activeWrap">
            <div class="cbp-l-caption-alignCenter">
              <div class="cbp-l-caption-body">
                <ul class="link-captions no-bottom-space">
                  <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="cbp-title-dark">
          <div class="cbp-l-grid-agency-title">Design Object 09</div>
          <div class="cbp-l-grid-agency-desc">Web Design</div>
        </div>
      </div>
    </div><!--/end Grid Container-->
  </div>
  <!--=== End Cube-Portfolio ===-->
</div>
</body>
</html>