<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <title>Project Modeler</title>
  <link rel="stylesheet" href="../../../META-INF/resources/theme/application.css" th:remove="all"/>
  <link rel="stylesheet" href="../../../META-INF/resources/theme/css/theme-colors/green.css" th:remove="all"/>
  <link rel="stylesheet" href="../../../META-INF/resources/dojo/jquery/skyforms/css/sky-forms.css" th:remove="all"/>
  <link rel="stylesheet" href="../../../META-INF/resources/dojo/jquery/skyforms/custom/custom-sky-forms.css"
        th:remove="all"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="breadcrumbs">
    <div class="container">
      <h1 class="pull-left">Project Modeler</h1>
      <ul class="pull-right breadcrumb">
        <li><a href="#">Tools</a></li>
        <li class="active">Project Modeler</li>
      </ul>
    </div>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="margin-bottom-40">
    <h3>Generates business models for <a href="#" th:href="@{/prototype/project}">Project Initializer</a>-based projects
      NOW!</h3>

    <form class="sky-form" action="#" th:action="@{/prototype/model/}" th:object="${context}" method="post">
      <header>Model Metadata</header>

      <fieldset>
        <div class="row">
          <section class="col col-3">
            <label class="label">Name:</label>
            <label class="input">
              <input type="text" th:field="*{metadata.name}"/>
            </label>
          </section>
          <section class="col col-9">
            <label class="label">Description:</label>
            <label class="input">
              <input type="text" th:field="*{metadata.description}"/>
            </label>
          </section>
        </div>

        <section>
          <label class="label">Group:</label>
          <label class="input">
            <input type="text" th:field="*{metadata.groupId}"/>
          </label>
        </section>
      </fieldset>
      <footer>
        <button type="submit" class="btn-u">Submit</button>
      </footer>
    </form>
  </div>
</div>
<script src="../../../META-INF/resources/dojo/jquery.js" th:remove="all"></script>
<script src="../../../META-INF/resources/dojo/bootstrap.js" th:remove="all"></script>
</body>
</html>