<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:yq="http://www.yqboots.com" xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <title th:text="#{MNU0001}">Menu Item Management</title>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <yq:breadcrumbs menu="MENU_ITEM"/>
</div>
<div layout:fragment="content">
  <div class="search-block">
    <div class="container">
      <form action="#" th:action="@{/menu}" th:object="${searchForm}" method="post">
        <div class="col-md-6 col-md-offset-3">
          <div class="input-group">
            <input type="text" class="form-control" th:field="*{criterion}" th:placeholder="#{DCT0005}"/>
            <span class="input-group-btn">
                <button class="btn-u" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                <button class="btn-u btn-u-split dropdown-toggle" type="button" th:title="#{DCT0014}"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a th:href="@{/menu(action='new')}">
                      <i class="glyphicon glyphicon-plus"></i> <span th:text="#{MNU0006}">New</span>
                    </a>
                  </li>
                </ul>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="content content-sm container">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th th:text="#{MNU0008}">Name</th>
          <th th:text="#{MNU0009}">URL</th>
          <th th:text="#{MNU0010}">Menu Group</th>
          <th th:text="#{MNU0011}">Menu Item Group</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${page}">
          <td th:text="${item.name}">NAME 1</td>
          <td th:text="${item.url}">/menu</td>
          <td th:text="${item.menuGroup}">Group 1</td>
          <td th:text="${item.menuItemGroup}">Item Group 1</td>
          <td>
            <a th:href="@{/menu(id=${item.id},action='update')}" th:title="#{MNU0012}">
              <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a th:href="@{/menu(id=${item.id},action='delete')}" th:title="#{MNU0013}">
              <i class="glyphicon glyphicon-remove-sign"></i>
            </a>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th colspan="8">
            <div yq:pageSummary="${page}"></div>
          </th>
        </tr>
        </tfoot>
      </table>
      <div class="text-center">
        <yq:pagination page="${page}" th:href="@{/menu}"/>
      </div>
    </div>
  </div>
</div>
</body>
</html>