<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:yq="http://www.yqboots.com" xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <title th:text="#{text.menu.item.management}">Menu Item Management</title>
  <link rel="stylesheet" href="../../../META-INF/resources/theme/application.css" th:remove="all"/>
  <link rel="stylesheet" href="../../../META-INF/resources/theme/css/theme-colors/green.css" th:remove="all"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <yq:breadcrumbs menu="PROJECT_MENU_ITEM"/>
</div>
<div layout:fragment="content" class="content content-sm height-500">
  <div class="container table-responsive">
    <form action="#" th:action="@{/project/menu}" th:object="${searchForm}" method="post">
      <div class="row">
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" th:field="*{name}" class="form-control" placeholder="Search" th:placeholder="#{text.search}"/>
            <span class="input-group-btn">
                <button class="btn-u" type="submit" th:text="#{text.search}">Search</button>
            </span>
          </div>
        </div>
        <div class="col-md-8"></div>
      </div>
    </form>
    <div class="divider divider-blank"></div>
    <div class="panel margin-bottom-40">
      <div class="panel-heading">
        <h3 class="panel-title" th:text="#{text.menu.item.list}">Menu Item List</h3>
      </div>
      <table class="table table-hover">
        <thead>
        <tr>
          <th th:text="#{text.name}">Name</th>
          <th th:text="#{text.url}">URL</th>
          <th th:text="#{text.menu.group}">Menu Group</th>
          <th th:text="#{text.menu.item.group}">Menu Item Group</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">
        <tr th:each="item : ${page}">
          <td th:text="${item.name}">NAME 1</td>
          <td th:text="${item.url}">/project/menu</td>
          <td th:text="${item.menuGroup}">Group 1</td>
          <td th:text="${item.menuItemGroup}">Item Group 1</td>
          <td>
            <a href="#" th:href="@{/project/menu(id=${item.id},action='update')}" title="Update" th:title="#{text.update}">
              <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a href="#" th:href="@{/project/menu(id=${item.id},action='delete')}" title="Delete" th:title="#{text.delete}">
              <i class="glyphicon glyphicon-remove-sign"></i>
            </a>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th colspan="8">
            <div yq:pageSummary="${page}" class="pull-left"/>
            <div class="pull-right">
              <a href="#" title="New" th:href="@{/project/menu(action='new')}" th:title="#{text.new}">
                <i class="glyphicon glyphicon-plus"></i>
              </a>
            </div>
            <div class="clear-both"></div>
          </th>
        </tr>
        </tfoot>
      </table>
      <div class="panel-footer text-center">
        <yq:pagination page="${page}" th:href="@{/project/menu}"/>
      </div>
    </div>
  </div>
</div>
<script src="../../../META-INF/resources/dojo/jquery.js" th:remove="all"></script>
<script src="../../../META-INF/resources/dojo/bootstrap.js" th:remove="all"></script>
</body>
</html>