<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<footer th:fragment="footer" class="container sticky-footer">
  <ul class="list-unstyled list-inline social-links margin-bottom-20">
    <li>
      <a href="http://www.linkedin.com/in/eric-zhan-36810951" target="_blank">
      <i class="icon-custom icon rounded-x icon-bg-blue fa fa-github"></i>
    </a>
    </li>
    <li>
      <a href="https://github.com/zhanhongbo1112/" target="_blank">
        <i class="icon-custom icon rounded-x icon-bg-blue fa fa-linkedin"></i>
      </a>
    </li>
  </ul>
  <p class="copyright-space">
    2017 &copy; All Rights Reserved. YQBoots Template by <a href="#">Eric H B Zhan</a>
  </p>
</footer>
</body>
</html>