<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="../../META-INF/resources/theme/application.css" th:remove="all"/>
  <link rel="stylesheet" href="../../META-INF/resources/theme/css/theme-colors/green.css" th:remove="all"/>
</head>
<body>
<footer th:fragment="footer">
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>&copy;<span th:text="#{T0002}">2016</span> <a href="#" th:text="#{T0001}">Company Name</a> <span th:text="#{T0003}">All Rights Reserved</span>.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="../META-INF/resources/dojo/jquery.js" th:remove="all"></script>
<script src="../META-INF/resources/dojo/bootstrap.js" th:remove="all"></script>
</body>
</html>