.social-icons {
    margin: 0;
    padding: 0;
}

.social-icons li {
    list-style: none;
    margin-right: 3px;
    margin-bottom: 5px;
    text-indent: -9999px;
    display: inline-block;
}

.social-icons li a, a.social-icon {
    width: 28px;
    height: 28px;
    display: block;
    background: no-repeat 0 0;
    transition: all 0.3s ease-in-out;
}

.social-icons li:hover a {
    background-position: 0 -38px;
}

.social-icons-color li a {
    opacity: 0.7;
    background-position: 0 -38px !important;
    -webkit-backface-visibility: hidden; /*For Chrome*/
}

.social-icons-color li a:hover {
    opacity: 1;
}