<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Gallery (THREE COLUMNS)</title>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/fancybox/fancybox.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/title-v2.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Gallery (THREE COLUMNS)</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="">Features</a></li>
      <li class="active">Gallery</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="text-center margin-bottom-50">
    <h2 class="title-v2 title-center">THREE COLUMNS</h2>
    <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you
      need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators
      on the Internet tend to repeat predefined chunks as necessary, making <span
        class="color-green">this the first</span> true generator on the Internet.</p>
  </div>

  <div class="row  margin-bottom-30">
    <div class="col-sm-4 sm-margin-bottom-30">
      <a th:href="@{/img/main/img2.jpg}" rel="gallery1" class="fancybox img-hover-v1" title="Image 1">
        <span><img class="img-responsive" th:src="@{/img/main/img2.jpg}"/></span>
      </a>
    </div>
    <div class="col-sm-4 sm-margin-bottom-30">
      <a th:href="@{/img/main/img4.jpg}" rel="gallery1" class="fancybox img-hover-v1" title="Image 2">
        <span><img class="img-responsive" th:src="@{/img/main/img4.jpg}"/></span>
      </a>
    </div>
    <div class="col-sm-4">
      <a th:href="@{/img/main/img5.jpg}" rel="gallery1" class="fancybox img-hover-v1" title="Image 3">
        <span><img class="img-responsive" th:src="@{/img/main/img5.jpg}"/></span>
      </a>
    </div>
  </div>

  <div class="row margin-bottom-30">
    <div class="col-sm-4 sm-margin-bottom-30">
      <a th:href="@{/img/main/img6.jpg}" rel="gallery1" class="fancybox img-hover-v1" title="Image 4">
        <span><img class="img-responsive" th:src="@{/img/main/img6.jpg}"/></span>
      </a>
    </div>
    <div class="col-sm-4 sm-margin-bottom-30">
      <a th:href="@{/img/main/img7.jpg}" rel="gallery1" class="fancybox img-hover-v1" title="Image 5">
        <span><img class="img-responsive" th:src="@{/img/main/img7.jpg}"/></span>
      </a>
    </div>
    <div class="col-sm-4">
      <a th:href="@{/img/main/img8.jpg}" rel="gallery1" class="fancybox img-hover-v1" title="Image 6">
        <span><img class="img-responsive" th:src="@{/img/main/img8.jpg}"/></span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 sm-margin-bottom-30">
      <a th:href="@{/img/main/img9.jpg}" rel="gallery1" class="fancybox img-hover-v1" title="Image 7">
        <span><img class="img-responsive" th:src="@{/img/main/img9.jpg}"/></span>
      </a>
    </div>
    <div class="col-sm-4 sm-margin-bottom-30">
      <a th:href="@{/img/main/img10.jpg}" rel="gallery1" class="fancybox img-hover-v1" title="Image 8">
        <span><img class="img-responsive" th:src="@{/img/main/img10.jpg}"/></span>
      </a>
    </div>
    <div class="col-sm-4">
      <a th:href="@{/img/main/img11.jpg}" rel="gallery1" class="fancybox img-hover-v1" title="Image 9">
        <span><img class="img-responsive" th:src="@{/img/main/img11.jpg}"/></span>
      </a>
    </div>
  </div>
</div>
</body>
</html>
