/*
* Version: 1.8
* Aqua Color: #27d7e7;
* Aqua Hover Color: #26bac8;
* Additional color: #d5eef0;
* rgba(39, 215, 231, 1);
*/
a {
    color: #27d7e7;
}

a:focus, a:hover, a:active {
    color: #27d7e7;
}

a.read-more:hover {
    color: #27d7e7;
}

.linked:hover {
    color: #27d7e7;
}

code {
    color: #27d7e7;
}

/* Blockquote
------------------------------------*/
blockquote:hover,
blockquote.text-right:hover,
body.dark blockquote:hover,
body.dark blockquote.text-right:hover {
    border-color: #27d7e7;
}

/* Buttons
------------------------------------*/
.btn-u {
    background: #27d7e7;
}

.btn-u:hover, .btn-u:focus, .btn-u:active, .btn-u.active, .open .dropdown-toggle.btn-u {
    background: #26bac8;
    color: #fff;
}

/*Bordered Buttons*/
.btn-u.btn-brd {
    border-color: #27d7e7;
}

.btn-u.btn-brd:hover {
    color: #26bac8;
    border-color: #26bac8;
}

.btn-u.btn-brd.btn-brd-hover:hover {
    background: #26bac8;
}

/* Buttons Color */
.btn-u-split.dropdown-toggle {
    border-left: solid 1px #26bac8;
}

/*Badges*/
span.label-u, span.badge-u, .list-group-item.active > .badge.badge-u {
    background: #26bac8;
}

/*Text Dropcap*/
.dropcap {
    color: #27d7e7;
}

.dropcap-bg {
    color: #fff;
    background: #27d7e7;
}

/*Text Highlights*/
.text-highlights {
    background: #27d7e7;
}

/*Text Borders*/
.text-border {
    border-color: #27d7e7;
}

/*Count Stars*/
.stars-existing {
    color: #27d7e7;
}

/* Font Awesome Icon Page Style */
.fa-icons li:hover {
    color: #27d7e7;
}

.fa-icons li:hover i {
    background: #27d7e7;
}

/* Icons Background Color
------------------------------------*/
i.icon-color-u {
    color: #27d7e7;
    border: solid 1px #27d7e7;
}

i.icon-bg-u {
    background: #27d7e7;
}

/* Heading */
.headline h2, .headline h3, .headline h4 {
    border-bottom: 2px solid #27d7e7;
}

/* Panel
------------------------------------*/
.panel {
    border-color: #27d7e7;
}

.panel > .panel-heading {
    background: #27d7e7;
}

/*Progress Bar
------------------------------------*/
.progress-bar-u {
    background: #27d7e7;
}

/* Pagination
------------------------------------*/
.pagination li a:hover {
    background: #26bac8;
    border-color: #26bac8;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    border-color: #27d7e7;
    background-color: #27d7e7;
}

/*Pager
------------------------------------*/
.pager li > a:hover,
.pager li > a:focus {
    background: #26bac8;
    border-color: #26bac8;
}

/* Tabs */
.tab .nav-tabs {
    border-bottom: solid 2px #27d7e7;
}

.tab .nav-tabs > .active > a, .tab .nav-tabs > .active > a:hover, .tab .nav-tabs > .active > a:focus {
    background: #27d7e7;
}

.tab .nav-tabs > li > a:hover {
    background: #27d7e7;
}

.tab .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background: #27d7e7;
}

/* Owl Carousel
------------------------------------*/
.owl-btn:hover {
    background: #27d7e7;
}

/* Sky Form
------------------------------------*/
.sky-form .button {
    background: #27d7e7;
}

.sky-form a {
    color: #27d7e7;
}

.sky-form .rating input:checked ~ label {
    color: #27d7e7;
}

.sky-form .rating input + label:hover,
.sky-form .rating input + label:hover ~ label {
    color: #27d7e7;
}

/*Date Picker*/
body.dark .ui-datepicker span:hover {
    color: #27d7e7;
}

body.dark .ui-datepicker-calendar .ui-state-active:hover {
    color: #27d7e7;
}

button.ui-datepicker-current,
button.ui-datepicker-close {
    background: #27d7e7;
}

button.ui-datepicker-current:hover,
button.ui-datepicker-current.btn-u:focus,
button.ui-datepicker-close:hover,
button.ui-datepicker-close.btn-u:focus {
    background: #d5eef0;
    color: #fff;
}

/* Headers Default
------------------------------------*/
.header .navbar-nav > .active > a {
    color: #27d7e7;
    border-color: #27d7e7;
}

.header .dropdown-menu {
    border-top: solid 2px #27d7e7;
}

.header .navbar-nav > li:hover > a {
    color: #26bac8;
}

.header .navbar-nav > li > a:hover, .header .navbar-nav > .active > a {
    border-bottom-color: #27d7e7;
}

.header .navbar-toggle {
    border-color: #26bac8;
}

.header .navbar-toggle, .header .navbar-toggle:hover, .header .navbar-toggle:focus {
    background: #27d7e7;
}

.header .navbar-toggle:hover {
    background: #26bac8 !important;
}

.header .navbar-nav > .open > a, .header .navbar-nav > .open > a:hover, .header .navbar-nav > .open > a:focus {
    color: #27d7e7;
}

/* Design for max-width: 991px */
@media ( max-width: 991px) {
    .header .navbar-nav > .active > a,
    .header .navbar-nav > .active > a:hover,
    .header .navbar-nav > .active > a:focus {
        background: #27d7e7;
        color: #fff !important;
    }

    .header .navbar-nav > .active > a {
        border-color: #eee;
    }

    body.dark .header .nav > li.active > a:hover {
        background: #27d7e7;
    }
}

/* Breadcrumb
------------------------------------*/
.breadcrumb li.active, .breadcrumb li a:hover {
    color: #27d7e7;
}

/* Footer
------------------------------------*/
.copyright a, .copyright a:hover {
    color: #27d7e7;
}

/* Top Control
------------------------------------*/
#topControl:hover {
    background-color: #27d7e7;
}

/* Service
------------------------------------*/
.service .service-icon {
    color: #27d7e7;
}

/* Cube Portfolio
------------------------------------*/
.cube-portfolio .cbp-l-filters-text .cbp-filter-item.cbp-filter-item-active,
.cube-portfolio .cbp-l-filters-text .cbp-filter-item:hover {
    color: #27d7e7;
}

.cube-portfolio .link-captions li i:hover {
    color: #fff;
    background: #27d7e7;
}

.cube-portfolio .cbp-caption-activeWrap.default-transparent-hover {
    background: #27d7e7 !important;
}

/* Style Switch
-------------------------------------*/
i.style-switcher-btn:hover {
    background: #26bac8;
}

/* Login Page
-------------------------------------*/
.login-block i {
    color: #26bac8;
}