.accordion-v1 .panel-heading {
    padding: 0;
    box-shadow: none;
}

.accordion-v1 .panel-heading a {
    display: block;
    font-size: 14px;
    padding: 5px 15px;
    background: #fefefe;
}

.accordion-icon a.accordion-toggle i {
    color: #555;
    margin-right: 8px;
}

.accordion-icon a.accordion-toggle:hover i {
    color: #39414c;
}

body.dark .accordion-v1 .panel-heading a {
    color: #ccc;
    background: #202020;
}
