.badge-box-v1 a {
    color: #777;
    min-width: 40px;
    font-size: 18px;
    padding: 8px 9px;
    display: inline-block;
    border: solid 1px #eee;
}

.badge-box-v1 a i {
    display: block;
    margin: 1px auto 2px;
}

.badge-box-v1 a:hover {
    color: #555;
    border-color: #555;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

body.dark .badge-box-v1 a {
    border-color: #303030;
}

body.dark .badge-box-v1 a:hover {
    color: #555;
    border-color: #555;
}