.easy-block-v1 {
    position: relative;
}

.easy-block-v1 img {
    width: 100%;
}

.easy-block-v1 .overflow-h h3 {
    width: 60%;
    float: left;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
}

.easy-block-v1 .easy-block-v1-badge {
    left: 0px;
    top: 10px;
    z-index: 1;
    color: #fff;
    padding: 4px 10px;
    position: absolute;
}

body.dark .easy-block-v1 i {
    color: #ccc;
}