.easy-block-v1 {
    position: relative;
}

.easy-block-v1 img {
    width: 100%;
}

.easy-block-v1 .overflow-h h3 {
    width: 60%;
    float: left;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
}

.easy-block-v1 .easy-block-v1-badge {
    left: 0;
    top: 10px;
    z-index: 1;
    color: #fff;
    padding: 4px 10px;
    position: absolute;
}

body.dark .easy-block-v1 i {
    color: #ccc;
}

.easy-block-v2 {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.easy-block-v2 img {
    width: 100%;
}

.easy-block-v2 .easy-bg-v2 {
    top: 5px;
    color: #fff;
    width: 100px;
    padding: 5px;
    right: -32px;
    font-size: 13px;
    position: absolute;
    text-align: center;
    letter-spacing: 2px;
    transform: rotate(45deg);
}

body.dark .easy-block-v2 i {
    color: #ccc;
}

.easy-block-v3 {
    text-align: left;
    background: #585f69;
    padding: 30px 20px 20px;
}

.easy-block-v3.first {
    background: #696f77;
}

.easy-block-v3.second {
    background: #707780;
}

.easy-block-v3.third {
    background: #787f88;
}

.easy-block-v3 i {
    color: #fff;
    float: left;
    font-size: 30px;
    min-width: 45px;
    padding-top: 10px;
}

.easy-block-v3 .inner-faq-b {
    overflow: hidden;
}

.easy-block-v3 .inner-faq-b h2,
.easy-block-v3 .inner-faq-b h3 {
    font-size: 21px;
    margin-bottom: 8px;
}

.easy-block-v3 .inner-faq-b h4 {
    color: #fff;
    font-size: 17px;
    margin-bottom: 2px;
}

.easy-block-v3 .inner-faq-b h2,
.easy-block-v3 .inner-faq-b h3,
.easy-block-v3 .inner-faq-b p {
    color: #fff;
}

body.dark .easy-block-v3 {
    background: #333;
}

body.dark .easy-block-v3.second {
    background: #353535;
}

body.dark .easy-block-v3.third {
    background: #383838;
}

body.dark .easy-block-v3 .inner-faq-b h3 {
    color: #fff;
}

body.dark .easy-block-v3 .inner-faq-b p {
    color: #eee;
}

body.dark .easy-block-v3 i {
    color: #ccc;
}