.lists-v1 li {
    margin-bottom: 10px;
}

.lists-v1 i {
    color: #fff;
    width: 15px;
    height: 15px;
    padding: 1px;
    font-size: 13px;
    margin-right: 7px;
    text-align: center;
    background: #72c02c;
    display: inline-block;
    border-radius: 50% !important;
}

.lists-v2 li {
    margin-bottom: 10px;
}

.lists-v2 i {
    color: #72c02c;
    font-size: 13px;
    margin-right: 7px;
    display: inline-block;
}