.owl-carousel-v2 .item {
    margin: 0 15px;
}

.owl-carousel-v2 .item img {
    text-align: center;
}

.owl-carousel-v2 .owl-navigation {
    text-align: center;
}

.owl-carousel-v2 .owl-pagination {
    display: none;
}

.owl-carousel-v2 .owl-carousel-style img {
    width: 120px;
    height: auto;
}

.owl-carousel-v2 .owl-slider {
    margin-bottom: 20px;
}