.owl-carousel-style-v2 .item {
  margin: 0 3px;
  background: #fafafa;
  text-align: center;
  border: solid 1px #eee;
}

.owl-carousel-style-v2 .item img {
  padding: 0 3px;
  display: inline-block;
}

.owl-carousel-style-v2 .item:hover {
  background: #f7f7f7;
  border-color: #e5e5e5;
  transition: all 0.4s ease-in-out;
}

.owl-carousel-style-v2 .owl-pagination {
  display: none;
}