.service {
    overflow: hidden;
    margin-bottom: 10px;
    padding: 15px 15px 10px;
}

.service:hover {
    background: #fcfcfc;
    box-shadow: 0 0 5px #ddd;
    transition: box-shadow 0.2s ease-in-out;
}

.service:hover i {
    color: #656565;
}

.service .desc {
    padding: 0 15px;
    overflow: hidden;
}

.service .desc h4 {
    font-size: 22px;
    line-height: 25px;
}

.service .service-icon {
    float: left;
    padding: 10px;
    color: #72c02c;
    font-size: 35px;
    text-align: center;
    transition: all 0.4s ease-in-out;
}

.service .service-icon.icon-cogs {
    font-size: 37px;
}

.service .service-icon.icon-plane {
    font-size: 43px;
}

/*Service Alternative Block*/
.service-alternative .service:hover {
    background: #76ca2c;
    transition: all 0.4s ease-in-out;
}

.service-alternative .service:hover i,
.service-alternative .service:hover p,
.service-alternative .service:hover h4 {
    color: #fff;
}