.tag-box {
    padding: 20px;
    background: #fff;
    margin-bottom: 30px;
}

.tag-box h2 {
    font-size: 20px;
    line-height: 25px;
}

.tag-box p {
    margin-bottom: 0;
}

.tag-box.tag-text-space p {
    margin-bottom: 10px;
}

body.dark .tag-box {
    background: #202020;
}

.tag-box-v1 {
    border: solid 1px #eee;
    border-top: solid 2px #72c02c;
}

body.dark .tag-box-v1 {
    border-color: #303030;
}

.tag-box-v2 {
    background: #fafafa;
    border: solid 1px #eee;
    border-left: solid 2px #72c02c;
}

body.dark .tag-box-v2 {
    border-color: #303030;
}

.tag-box-v3 {
    border: solid 2px #eee;
}

body.dark .tag-box-v3 {
    border-color: #303030;
}

.tag-box-v4 {
    border: dashed 1px #bbb;
}

body.dark .tag-box-v4 {
    border-color: #303030;
}

.tag-box-v5 {
    margin: 20px 0;
    text-align: center;
    border: dashed 1px #ccc;
}

.tag-box-v5 span {
    color: #555;
    font-size: 28px;
    margin-bottom: 0;
}

body.dark .tag-box-v5 {
    border-color: #303030;
}

.tag-box-v6 {
    background: #fafafa;
    border: solid 1px #eee;
}

body.dark .tag-box-v6 {
    border-color: #303030;
}

.tag-box-v7 {
    border: solid 1px #eee;
    border-bottom: solid 2px #72c02c;
}

body.dark .tag-box-v7 {
    border-color: #303030;
}