.testimonials-bs {
    padding: 50px 0;
}

.testimonials-bs .headline-center-v2 span.author {
    color: #777;
    font-size: 14px;
}

/*Removes Bootstrap carousel background images*/
.testimonials-bs .item {
    margin-bottom: 30px;
}

.testimonials-bs .carousel-arrow {
    text-align: center;
}

.testimonials-bs .carousel-control-v2 i {
    color: #888;
    width: 30px;
    height: 30px;
    padding: 2px;
    font-size: 22px;
    display: inline-block;
    border: 2px solid #888;
}

.testimonials-bs .carousel-control-v2 i:hover {
    color: #72c02c;
    border-color: #72c02c;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.testimonials-bs .carousel-control-v2.left,
.testimonials-bs .carousel-control-v2.right {
    text-decoration: none;
    background-image: none;
}