.title-v1 {
    z-index: 1;
    position: relative;
    text-align: center;
    margin-bottom: 60px;
}

.title-v1 h1,
.title-v1 h2 {
    color: #444;
    font-size: 28px;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: "Open Sans", Arial, sans-serif;
}

.title-v1 h1:after,
.title-v1 h2:after {
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 70px;
    content: " ";
    margin-left: -35px;
    position: absolute;
    background: #72c02c;
}

.title-v1 p {
    font-size: 17px;
    font-weight: 200;
}