h2.title-v2 {
    color: #555;
    position: relative;
    margin-bottom: 30px;
}

h2.title-v2:after {
    left: 0;
    width: 70px;
    height: 2px;
    content: " ";
    bottom: -10px;
    background: #555;
    position: absolute;
}

h1.title-v2.title-center,
h2.title-v2.title-center,
h3.title-v2.title-center {
    text-align: center;
}

h1.title-v2.title-center:after,
h2.title-v2.title-center:after,
h3.title-v2.title-center:after {
    left: 50%;
    width: 70px;
    margin-left: -35px;
}

h1.title-light,
h2.title-light,
h3.title-light {
    color: #fff;
}

h2.title-light:after {
    background: #fff;
}