.title-box {
    font-size: 16px;
    text-align: center;
    padding: 10px 0 30px;
    border-bottom: solid 1px #eee;
}

.title-box .title-box-text {
    color: #555;
    display: block;
    font-size: 35px;
    font-weight: 200;
}

@media (max-width: 768px) {
    .title-box .title-box-text {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 10px;
    }

    .title-box p {
        font-size: 15px;
    }
}