.two-blocks {
    text-align: center;
}

.two-blocks-in {
    margin-bottom: 30px;
}

.two-blocks-in i {
    color: #fff;
    padding: 11px;
    font-size: 30px;
    min-width: 50px;
    text-align: center;
    background: #585f69;
    margin-bottom: 10px;
    display: inline-block;
}