<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>YQBoots Showcases</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/tab-v2.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Showcase</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Showcase</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="tab-v2">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#showcase-features" data-toggle="tab">Features</a></li>
      <li><a href="#showcase-forms" data-toggle="tab">Forms</a></li>
      <li><a href="#showcase-icons" data-toggle="tab">Icons</a></li>
      <li><a href="#showcase-pages" data-toggle="tab">Pages</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade in active" id="showcase-features">
        <div class="headline"><h4>Accordions</h4></div>
        <ul class="list-inline">
          <li><a href="#">Accordion v1</a></li>
        </ul>
        <div class="headline"><h4>Animations</h4></div>
        <ul class="list-inline">
          <li><a href="#">Animation v1</a></li>
        </ul>
        <div class="headline"><h4>Badges</h4></div>
        <ul class="list-inline">
          <li><a href="#">Badge v1</a></li>
        </ul>
        <div class="headline"><h4>Buttons</h4></div>
        <ul class="list-inline">
          <li><a href="#">Button v1</a></li>
          <li><a href="#">Button v2</a></li>
          <li><a href="#">Button v3</a></li>
        </ul>
        <div class="headline"><h4>Call Actions</h4></div>
        <ul class="list-inline">
          <li><a href="#">Call Action v1</a></li>
          <li><a href="#">Call Action v2</a></li>
        </ul>
        <div class="headline"><h4>Carousels</h4></div>
        <ul class="list-inline">
          <li><a href="#">Carousel v1</a></li>
          <li><a href="#">Carousel v2</a></li>
          <li><a href="#">Carousel v3</a></li>
          <li><a href="#">Carousel v4</a></li>
        </ul>
        <div class="headline"><h4>Charts</h4></div>
        <ul class="list-inline">
          <li><a href="#">Chart v1</a></li>
          <li><a href="#">Chart v2</a></li>
        </ul>
        <div class="headline"><h4>Count Downs</h4></div>
        <ul class="list-inline">
          <li><a href="#">Count Down v1</a></li>
        </ul>
        <div class="headline"><h4>Funny Boxes</h4></div>
        <ul class="list-inline">
          <li><a href="#">Funny Box v1</a></li>
          <li><a href="#">Funny Box v2</a></li>
          <li><a href="#">Funny Box v3</a></li>
        </ul>
        <div class="headline"><h4>Galleries</h4></div>
        <ul class="list-inline">
          <li><a href="#">Gallery v1</a></li>
          <li><a href="#">Gallery v2</a></li>
          <li><a href="#">Gallery v3</a></li>
          <li><a href="#">Gallery v4</a></li>
        </ul>
        <div class="headline"><h4>Icon Blocks</h4></div>
        <ul class="list-inline">
          <li><a href="#">Icon Block v1</a></li>
          <li><a href="#">Icon Block v2</a></li>
          <li><a href="#">Icon Block v3</a></li>
          <li><a href="#">Icon Block v4</a></li>
          <li><a href="#">Icon Block v5</a></li>
          <li><a href="#">Icon Block v6</a></li>
          <li><a href="#">Icon Block v7</a></li>
          <li><a href="#">Icon Block v8</a></li>
          <li><a href="#">Icon Block v9</a></li>
          <li><a href="#">Icon Block v10</a></li>
        </ul>
        <div class="headline"><h4>Labels</h4></div>
        <ul class="list-inline">
          <li><a href="#">Label v1</a></li>
        </ul>
        <div class="headline"><h4>Medias</h4></div>
        <ul class="list-inline">
          <li><a href="#">Media v1</a></li>
        </ul>
        <div class="headline"><h4>Messages</h4></div>
        <ul class="list-inline">
          <li><a href="#">Message v1</a></li>
        </ul>
        <div class="headline"><h4>Miscs</h4></div>
        <ul class="list-inline">
          <li><a href="#">Blockquote</a></li>
          <li><a href="#">Box Shadow</a></li>
          <li><a href="#">Divider</a></li>
          <li><a href="#">General</a></li>
          <li><a href="#">Grid</a></li>
          <li><a href="#">Heading</a></li>
          <li><a href="#">Tag Box</a></li>
        </ul>
        <div class="headline"><h4>News Blocks</h4></div>
        <ul class="list-inline">
          <li><a href="#">News Block v1</a></li>
          <li><a href="#">News Block v2</a></li>
          <li><a href="#">News Block v3</a></li>
          <li><a href="#">News Block v4</a></li>
          <li><a href="#">News Block v5</a></li>
        </ul>
        <div class="headline"><h4>Paginations</h4></div>
        <ul class="list-inline">
          <li><a href="#">Pagination v1</a></li>
          <li><a href="#">Pagination v2</a></li>
        </ul>
        <div class="headline"><h4>Panels</h4></div>
        <ul class="list-inline">
          <li><a href="#">Panel v1</a></li>
        </ul>
        <div class="headline"><h4>Parallax Blocks</h4></div>
        <ul class="list-inline">
          <li><a href="#">Parallax Block v1</a></li>
        </ul>
        <div class="headline"><h4>Parallax Counters</h4></div>
        <ul class="list-inline">
          <li><a href="#">Parallax Counter v1</a></li>
          <li><a href="#">Parallax Counter v2</a></li>
          <li><a href="#">Parallax Counter v3</a></li>
          <li><a href="#">Parallax Counter v4</a></li>
          <li><a href="#">Parallax Counter v5</a></li>
        </ul>
        <div class="headline"><h4>Progress Bars</h4></div>
        <ul class="list-inline">
          <li><a href="#">Progress Bar v1</a></li>
        </ul>
        <div class="headline"><h4>Quotes</h4></div>
        <ul class="list-inline">
          <li><a href="#">Quote v1</a></li>
          <li><a href="#">Quote v2</a></li>
        </ul>
        <div class="headline"><h4>Tabs</h4></div>
        <ul class="list-inline">
          <li><a href="#">Tab v1</a></li>
          <li><a href="#">Tab v2</a></li>
          <li><a href="#">Tab v3</a></li>
        </ul>
        <div class="headline"><h4>Tables</h4></div>
        <ul class="list-inline">
          <li><a href="#">Table v1</a></li>
          <li><a href="#">Table v2</a></li>
          <li><a href="#">Table v3</a></li>
        </ul>
        <div class="headline"><h4>Team Blocks</h4></div>
        <ul class="list-inline">
          <li><a href="#">Team Block v1</a></li>
          <li><a href="#">Team Block v2</a></li>
          <li><a href="#">Team Block v3</a></li>
          <li><a href="#">Team Block v4</a></li>
          <li><a href="#">Team Block v5</a></li>
          <li><a href="#">Team Block v6</a></li>
          <li><a href="#">Team Block v7</a></li>
          <li><a href="#">Team Block v8</a></li>
          <li><a href="#">Team Block v9</a></li>
        </ul>
        <div class="headline"><h4>Testimonials</h4></div>
        <ul class="list-inline">
          <li><a href="#">Testimonial v1</a></li>
          <li><a href="#">Testimonial v2</a></li>
          <li><a href="#">Testimonial v3</a></li>
          <li><a href="#">Testimonial v4</a></li>
          <li><a href="#">Testimonial v5</a></li>
          <li><a href="#">Testimonial v6</a></li>
        </ul>
        <div class="headline"><h4>Thumbnails</h4></div>
        <ul class="list-inline">
          <li><a href="#">Thumbnail v1</a></li>
          <li><a href="#">Thumbnail v2</a></li>
          <li><a href="#">Thumbnail v3</a></li>
          <li><a href="#">Thumbnail v4</a></li>
        </ul>
        <div class="headline"><h4>Timelines</h4></div>
        <ul class="list-inline">
          <li><a href="#">Timeline v1</a></li>
          <li><a href="#">Timeline v2</a></li>
        </ul>
      </div>
      <div class="tab-pane fade" id="showcase-forms">
        <div class="headline"><h4>Forms</h4></div>
        <ul class="list-inline">
          <li><a href="#">Form v1</a></li>
          <li><a href="#">Form v2</a></li>
          <li><a href="#">Form v3</a></li>
          <li><a href="#">Form v4</a></li>
          <li><a href="#">Form v5</a></li>
          <li><a href="#">Form v6</a></li>
          <li><a href="#">Form v7</a></li>
          <li><a href="#">Form v8</a></li>
        </ul>
      </div>
      <div class="tab-pane fade" id="showcase-icons">
        <div class="headline"><h4>Icons</h4></div>
        <ul class="list-inline">
          <li><a href="#">fa</a></li>
          <li><a href="#">General</a></li>
          <li><a href="#">Glyphicons</a></li>
        </ul>
        <div class="headline"><h4>Line Icons</h4></div>
        <ul class="list-inline">
          <li><a href="#">Common</a></li>
          <li><a href="#">Christmas</a></li>
          <li><a href="#">Clothes</a></li>
          <li><a href="#">Communication</a></li>
          <li><a href="#">Education</a></li>
          <li><a href="#">Electronics</a></li>
          <li><a href="#">Finance</a></li>
          <li><a href="#">Food</a></li>
          <li><a href="#">Furniture</a></li>
          <li><a href="#">Hotel and Restaurant</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Medical</a></li>
          <li><a href="#">Music</a></li>
          <li><a href="#">Real Estate</a></li>
          <li><a href="#">Science</a></li>
          <li><a href="#">Sport</a></li>
          <li><a href="#">Transport</a></li>
          <li><a href="#">Travel</a></li>
          <li><a href="#">Weather</a></li>
        </ul>
      </div>
      <div class="tab-pane fade" id="showcase-pages">
        <div class="headline"><h2>404</h2></div>
        <ul class="list-inline">
          <li><a href="#">404 v1</a></li>
        </ul>
        <div class="headline"><h2>About</h2></div>
        <ul class="list-inline">
          <li><a href="#">About v1</a></li>
          <li><a href="#">About v2</a></li>
          <li><a href="#">About v3</a></li>
          <li><a href="#">About v4</a></li>
        </ul>
        <div class="headline"><h2>About Me</h2></div>
        <ul class="list-inline">
          <li><a href="#">About Me v1</a></li>
          <li><a href="#">About Me v2</a></li>
          <li><a href="#">About Me v3</a></li>
        </ul>
        <div class="headline"><h2>About Our Team</h2></div>
        <ul class="list-inline">
          <li><a href="#">About Our Team v1</a></li>
          <li><a href="#">About Our Team v2</a></li>
          <li><a href="#">About Our Team v3</a></li>
        </ul>
        <div class="headline"><h2>Contact</h2></div>
        <ul class="list-inline">
          <li><a href="#">Contact v1</a></li>
          <li><a href="#">Contact v2</a></li>
          <li><a href="#">Contact v3</a></li>
        </ul>
        <div class="headline"><h2>FAQ</h2></div>
        <ul class="list-inline">
          <li><a href="#">FAQ v1</a></li>
          <li><a href="#">FAQ v2</a></li>
        </ul>
        <div class="headline"><h2>Login</h2></div>
        <ul class="list-inline">
          <li><a href="#">Login v1</a></li>
          <li><a href="#">Login v2</a></li>
        </ul>
        <div class="headline"><h2>Miscs</h2></div>
        <ul class="list-inline">
          <li><a href="#">Privacy v1</a></li>
          <li><a href="#">Terms v1</a></li>
        </ul>
        <div class="headline"><h2>Registration</h2></div>
        <ul class="list-inline">
          <li><a href="#">Registration v1</a></li>
          <li><a href="#">Registration v2</a></li>
        </ul>
        <div class="headline"><h2>Search</h2></div>
        <ul class="list-inline">
          <li><a href="#">Search v1</a></li>
          <li><a href="#">Search v2</a></li>
          <li><a href="#">Search v3</a></li>
          <li><a href="#">Search v4</a></li>
          <li><a href="#">Search v5</a></li>
          <li><a href="#">Search v6</a></li>
          <li><a href="#">Search v7</a></li>
        </ul>
        <div class="headline"><h2>Services</h2></div>
        <ul class="list-inline">
          <li><a href="#">Services v1</a></li>
          <li><a href="#">Services v2</a></li>
          <li><a href="#">Services v3</a></li>
          <li><a href="#">Services v4</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>