/*
* Version: 1.8
* Red Color: #e74c3c;
* Red Hover Color: #c0392b;
* Additional color: #f9e6e6;
# rgba(231, 76, 60, 1);
*/
a {
    color: #e74c3c;
}

a:focus, a:hover, a:active {
    color: #e74c3c;
}

/* Headers Default
------------------------------------*/
.header .navbar-nav > .active > a {
    color: #e74c3c;
}

.header .navbar-nav > .active > a {
    border-color: #e74c3c;
}

.header .dropdown-menu {
    border-top: solid 2px #e74c3c;
}

.header .navbar-nav > li:hover > a {
    color: #c0392b;
}

.header .nav > li > .search:hover {
    border-bottom-color: #c0392b;
    color: #c0392b;
}

.header .navbar-nav > li > a:hover, .header .navbar-nav > .active > a {
    border-bottom-color: #e74c3c;
}

.header .navbar-toggle {
    border-color: #c0392b;
}

.header .navbar-toggle, .header .navbar-toggle:hover, .header .navbar-toggle:focus {
    background: #e74c3c;
}

.header .navbar-toggle:hover {
    background: #c0392b !important;
}

.header .navbar-nav > .open > a, .header .navbar-nav > .open > a:hover, .header .navbar-nav > .open > a:focus {
    color: #e74c3c;
}

/* Design for max-width: 991px */
@media ( max-width: 991px) {
    .header .navbar-nav > .active > a, .header .navbar-nav > .active > a:hover,
    .header .navbar-nav > .active > a:focus {
        background: #e74c3c;
        color: #fff !important;
    }

    .header .navbar-nav > .active > a {
        border-color: #eee;
    }

    .header .nav > li > .search:hover {
        background: #e74c3c;
    }
}

/* Buttons
------------------------------------*/
.btn-u {
    background: #e74c3c;
}

.btn-u:hover, .btn-u:focus, .btn-u:active, .btn-u.active, .open .dropdown-toggle.btn-u {
    background: #c0392b;
    color: #fff;
}

/* Buttons Color */
.btn-u-split.dropdown-toggle {
    border-left: solid 1px #c0392b;
}

/* Bordered Buttons */
.btn-u.btn-brd {
    border-color: #e74c3c;
}

.btn-u.btn-brd:hover {
    color: #c0392b;
    border-color: #c0392b;
}

.btn-u.btn-brd.btn-brd-hover:hover {
    background: #c0392b;
}

/* Service
------------------------------------*/
.service .service-icon {
    color: #e74c3c;
}

/* Footer
------------------------------------*/
.copyright a, .copyright a:hover {
    color: #e74c3c;
}

/* Breadcrumb
------------------------------------*/
.breadcrumb li.active, .breadcrumb li a:hover {
    color: #e74c3c;
}

/* Font Awesome Icon Page Style */
.fa-icons li:hover {
    color: #e74c3c;
}

.fa-icons li:hover i {
    background: #e74c3c;
}

/* Breadcrumbs
------------------------------------*/
span.label-u, span.badge-u {
    background: #e74c3c;
}

/* Icons Background Color
------------------------------------*/
i.icon-color-u {
    color: #e74c3c;
    border: solid 1px #e74c3c;
}

i.icon-bg-u {
    background: #e74c3c;
}

/* Cube Portfolio
------------------------------------*/
.cube-portfolio .cbp-l-filters-text .cbp-filter-item.cbp-filter-item-active,
.cube-portfolio .cbp-l-filters-text .cbp-filter-item:hover {
    color: #e74c3c;
}

.cube-portfolio .link-captions li i:hover {
    color: #fff;
    background: #e74c3c;
}

.cube-portfolio .cbp-caption-activeWrap.default-transparent-hover {
    background: rgba(231, 76, 60, .9) !important;
}

/* Copyright Section
------------------------------------*/
.copyright-section i.back-to-top:hover {
    color: #e74c3c;
}

/* Top Control
------------------------------------*/
#topcontrol:hover {
    background-color: #e74c3c;
}

/* Progress Bar
------------------------------------*/
.progress-bar-u {
    background: #e74c3c;
}

/* Timeline Page
------------------------------------*/
/* The icons */
.timeline > li .cbp_tmicon {
    background: #e74c3c;
}