<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:yq="http://www.yqboots.com" xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <title th:text="#{FSS0001}">File Management</title>
  <link rel="stylesheet" th:href="@{/dojo/jquery/jstree/css/jstree.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <yq:breadcrumbs menu="FSS"/>
</div>
<div class="container content content-sm height-600" layout:fragment="content">
  <div class="row">
    <div class="col-md-3 md-margin-bottom-40">
      <div class="panel panel-u">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-folder"></i> <span th:text="#{FSS0002}">All Files</span></h3>
        </div>
        <div class="panel-body">
          <div id="treeLoading" th:text="#{FSS0003}">Loading...</div>
          <div id="tree" class="tree dp-none">
            <yq:tree name="FSS_AVAILABLE_DIRS"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <yq:alert level="danger"/>
      <div class="row">
        <div class="col-md-12">
          <form action="#" th:action="@{/fss}" th:object="${searchForm}" method="post">
            <div class="input-group">
              <span class="input-group-btn">
                <button id="homeBtn" class="btn-u" type="button"><i class="fa fa-home"></i></button>
              </span>
              <input id="criterion" class="form-control" th:field="*{criterion}"/>
              <span class="input-group-btn">
                <button id="searchBtn" class="btn-u" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                <button class="btn-u btn-u-split dropdown-toggle" type="button" th:title="#{FSS0004}"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a th:href="@{/fss(action='new')}">
                      <i class="glyphicon glyphicon-upload"></i> <span th:text="#{FSS0005}">Upload</span>
                    </a>
                  </li>
                </ul>
              </span>
            </div>
          </form>
        </div>
      </div>
      <div class="divider divider-blank"></div>
      <div class="panel">
        <table class="table table-hover table-responsive">
          <thead>
          <tr>
            <th th:text="#{FSS0006}">Name</th>
            <th th:text="#{FSS0007}">Path</th>
            <th th:text="#{FSS0008}">Length</th>
            <th th:text="#{FSS0009}">Last Modified Date</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="item : ${page}">
            <td th:text="${item.name}">NAME 1</td>
            <td th:text="${item.path}">Path 1</td>
            <td th:text="${item.length}">10</td>
            <td th:text="${{item.lastModifiedDate}}">2016-08-24 10:00:00</td>
            <td>
              <a th:href="@{/fss(id=${item.path},action='download')}" th:title="#{FSS0010}">
                <i class="glyphicon glyphicon-download"></i>
              </a>
              <a th:href="@{/fss(id=${item.path},action='delete')}" th:title="#{FSS0011}">
                <i class="glyphicon glyphicon-remove-sign"></i>
              </a>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th colspan="8">
              <div yq:pageSummary="${page}"/>
            </th>
          </tr>
          </tfoot>
        </table>
        <div class="panel-footer text-center">
          <yq:pagination page="${page}" th:href="@{/fss}"/>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>