<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <link rel="stylesheet" href="../META-INF/resources/theme/application.css" th:remove="all"/>
  <link rel="stylesheet" href="../META-INF/resources/theme/css/theme-colors/green.css" th:remove="all"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="breadcrumbs">
    <div class="container">
      <h1 class="pull-left">404 Error</h1>
      <ul class="pull-right breadcrumb">
        <li><a href="index.html" th:href="@{/}">Home</a></li>
        <li class="active">404 Error</li>
      </ul>
    </div>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="error">
        <span class="error-title">404</span>
        <span>That’s an error!</span>

        <p>The requested URL was not found on this server. That’s all we know.</p>
        <a class="btn-u btn-bordered" href="index.html" th:href="@{/}">Back Home</a>
      </div>
    </div>
  </div>
</div>
<script src="../META-INF/resources/dojo/jquery.js" th:src="@{/dojo/jquery.js}" th:remove="all"></script>
<script src="../META-INF/resources/dojo/bootstrap.js" th:src="@{/dojo/bootstrap.js}" th:remove="all"></script>
</body>
</html>