<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <title>YuQi</title>
  <link rel="stylesheet" href="../META-INF/resources/theme/application.css" th:remove="all"/>
  <link rel="stylesheet" href="../META-INF/resources/theme/css/theme-colors/green.css" th:remove="all"/>
</head>
<body>
<div layout:fragment="content" class="content content-md height-600">
  <div class="container">
    <!-- Service Blocks -->
    <div class="row margin-bottom-30">
      <div class="col-md-4">
        <div class="service">
          <i class="fa fa-compress service-icon"></i>

          <div class="desc">
            <h4>Fully Responsive</h4>

            <p>Provide an optimal viewing and interaction experience -- easy reading and navigation with a minimum of
              resizing, panning, and scrolling-across a wide range of devices (from desktop to mobile phones). </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <i class="fa fa-cogs service-icon"></i>

          <div class="desc">
            <h4>HTML5 + CSS3</h4>

            <p>HTML5 and CSS3 are not only the new Web technical standards, but also represent the next generation of
              HTML and CSS Technology.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service">
          <i class="fa fa-rocket service-icon"></i>

          <div class="desc">
            <h4>Launch Ready</h4>

            <p>Powered by <a href="http://maven.apache.org" target="_blank">Maven</a>, <a
                href="http://www.thymeleaf.org/" target="_blank">Thymeleaf</a>,
              <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> and <a
                  href="http://projects.spring.io/spring-boot/" target="_blank">Spring Boot</a>, launch your
              applications as quickly as possible</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Service Blocks -->
  </div>
</div>
<script src="../META-INF/resources/dojo/jquery.js" th:remove="all"></script>
<script src="../META-INF/resources/dojo/bootstrap.js" th:remove="all"></script>
</body>
</html>