<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/content-bottom-layout">
<head>
  <title th:text="#{SEC0008}">Access Denied!</title>
</head>
<body>
<div layout:fragment="content" class="container content">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="error">
        <div>
          <a class="logo" th:href="@{/}">
            <img th:src="@{/theme/images/logo-green.png}"/>
          </a>
        </div>
        <span class="error-title">403</span>
        <span th:text="#{SEC0008}">Access Denied!</span>

        <p th:text="#{SEC0009}">Access to the specified resource has been forbidden.</p>
        <a class="btn-u rounded btn-bordered" href="index.html" th:href="@{/}" th:text="#{SEC0010}">Back to Home</a>
      </div>
    </div>
  </div>
  <div style="min-height:36px;">&nbsp;</div>
</div>
</body>
</html>