<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <title>YQBoots Framework</title>
  <link rel="stylesheet" href="../../META-INF/resources/theme/application.css" th:remove="all"/>
  <link rel="stylesheet" href="../../META-INF/resources/theme/css/theme-colors/green.css" th:remove="all"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="jumbotron">
    <div class="container">
      <h2>YQBoots Framework</h2>

      <p>YQBoots Framework is a production-ready framework for building modern applications. It is built on <a
          href="http://spring.io/platform/" target="_blank">Spring IO Platform</a>,
        and simplifying the initialization of a Spring-powered, production-grade applications and services with minimal
        effort by using <a href="http://projects.spring.io/spring-boot/" target="_blank">Spring Boot</a>.
      </p>

      <p><a class="btn btn-u" href="#features" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
</div>
<div layout:fragment="content" class="content content-md height-500">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>The YQBoots Framework contains a fully responsive user interface, built by <a
            href="http//getbootstrap.com/" target="_blank">Bootstrap</a>,
          providing an optimal viewing and interaction experience -- easy reading and navigation with a minimum of
          resizing, panning, and scrolling-across a wide range of devices (from desktop to mobile phones).
        </p>

        <div class="headline">
          <h3 id="features">Features</h3>

          <p>The YQBoots Framework includes the most common parts of the enterprise applications.</p>
          <ul>
            <li>User Interface -- A fully responsive, HTML5 + CSS3 user interface, no need to built different user
              interface for different devices.
            </li>
            <li>Menu Management -- A maintainable menus displayed in the header.</li>
            <li>Data Dictionary Management -- Manages the options in the html select elements</li>
            <li>File Storage Service -- It allows you to upload and delete files in the configured folders under the specified root folder.</li>
            <li>I18N Messages -- It supports multiple languages, and switch between them.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-u">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-tasks"></i> YQBoots Framework</h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Release</th>
                <th>Release Date</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1.0.0</td>
                <td>2016-09-30</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../../META-INF/resources/dojo/jquery.js" th:remove="all"></script>
<script src="../../META-INF/resources/dojo/bootstrap.js" th:remove="all"></script>
</body>
</html>