<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<!--=== Footer Version 1 ===-->
<footer th:fragment="footer">
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy;2016 <a href="mailto:eric.zhan@163.com" th:href="@{/profile}">Eric H B Zhan</a> All Rights
            Reserved.</p>
        </div>
        <!-- Social Links -->
        <div class="col-md-6">
          <ul class="footer-socials list-inline">
            <li>
              <a href="#" th:href="#{link.linkedin}" class="tooltips" data-toggle="tooltip"
                 data-placement="top" data-original-title="LinkedIn" target="_blank" alt="LinkedIn">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="#" th:href="#{link.github}" class="tooltips" data-toggle="tooltip"
                 data-placement="top" data-original-title="GitHub" target="_blank" alt="GitHub">
                <i class="fa fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Social Links -->
      </div>
    </div>
  </div><!--/copyright-->
</footer>
<!--=== End Footer Version 1 ===-->
</body>
</html>