<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:remove="all">
  <title>Header</title>
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="../../META-INF/resources/theme/application.css" th:href="@{/theme/application.css}"/>
  <!-- CSS Theme -->
  <link rel="stylesheet" href="../../META-INF/resources/theme/css/theme-colors/green.css" id="style_color"
        th:href="@{/theme/css/theme-colors/green.css}"/>
  <link rel="stylesheet" href="../../META-INF/resources/theme/css/theme-skins/dark.css"
        th:href="@{/theme/css/theme-skins/dark.css}"/>
</head>
<body>
<header th:fragment="header" class="header header-sticky">
  <div class="container">
    <!-- Logo -->
    <a class="logo" th:href="@{/}">
      <img src="../../META-INF/resources/theme/images/logo-green.png" th:src="@{/theme/images/logo-green.png}"
           alt="YuQi"/>
    </a>
    <!-- End Logo -->

    <!-- Topbar
    <div class="topbar">
      <ul class="loginbar pull-right">
        <li class="hoverSelector">
          <i class="fa fa-globe"></i>
          <a><span>Languages</span></a>
          <ul class="languages hoverSelectorBlock">
            <li><a href="#" th:href="@{?locale=en}">English</a></li>
            <li><a href="#" th:href="@{?locale=zh_CN}">Chinese</a></li>
          </ul>
        </li>
      </ul>
    </div>
    End Topbar -->

    <!-- Toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="fa fa-bars"></span>
    </button>
    <!-- End Toggle -->
  </div>
  <!--/end container-->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
    <div class="container">
      <ul class="nav navbar-nav">
        <!-- Home -->
        <li><a href="javascript:void(0);" th:href="@{/}">HOME</a></li>
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Tools</a>
          <ul class="dropdown-menu">
            <li><a href="#" th:href="@{/prototype/project}">Project Initializer</a></li>
          </ul>
        </li>
        <!-- End ADMINISTRATION -->
        <!-- Search Block -->
        <li>
          <i class="search fa fa-search search-btn"></i>

          <div class="search-open">
            <div class="input-group animated fadeInDown">
              <input type="text" class="form-control" placeholder="Search"/>
              <span class="input-group-btn">
                  <button class="btn-u" type="button">Go</button>
              </span>
            </div>
          </div>
        </li>
        <!-- End Search Block -->
      </ul>
    </div>
    <!--/end container-->
  </div>
  <!--/navbar-collapse-->
</header>
<script type="text/javascript" src="../META-INF/resources/dojo/jquery.js" th:src="@{/dojo/jquery.js}" th:remove="all"/>
<script type="text/javascript" src="../META-INF/resources/dojo/bootstrap.js" th:src="@{/dojo/bootstrap.js}"
        th:remove="all"/>
</body>
</html>