<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="header" class="header header-sticky">
  <div class="container">
    <!-- Logo -->
    <a class="logo" th:href="@{/}">
      <img th:src="@{/theme/images/logo1-default.png}" alt="Logo"/>
    </a>
    <!-- End Logo -->

    <!-- Topbar -->
    <div class="topbar">
      <ul class="loginbar pull-right">
        <li class="hoverSelector">
          <i class="fa fa-globe"></i>
          <a>Languages</a>
          <ul class="languages hoverSelectorBlock">
            <li class="active">
              <a href="#">English <i class="fa fa-check"></i></a>
            </li>
            <li><a href="#">Chinese</a></li>
          </ul>
        </li>
        <li class="topbar-divider"></li>
        <li><a href="page_faq.html">Help</a></li>
        <li class="topbar-divider"></li>
        <li><a href="page_login.html">Login</a></li>
      </ul>
    </div>
    <!-- End Topbar -->

    <!-- Toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="fa fa-bars"></span>
    </button>
    <!-- End Toggle -->
  </div><!--/end container-->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
    <div class="container">
      <ul class="nav navbar-nav">
        <!-- Home -->
        <li>
          <a href="javascript:void(0);">HOME</a>
        </li>
        <!-- End HOME -->
        <!-- ADMINISTRATION -->
        <li class="dropdown mega-menu-fullwidth">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">ADMINISTRATION</a>
          <ul class="dropdown-menu">
            <li>
              <div class="mega-menu-content disable-icons">
                <div class="container">
                  <div class="row equal-height">
                    <div class="col-md-3 equal-height-in">
                      <ul class="list-unstyled equal-height-list">
                        <li><h3>SECURITY ADMINISTRATION</h3></li>
                        <li><a href="#"><i class="fa fa-html5"></i>USER MANAGEMENT</a></li>
                        <li><a href="#"><i class="fa fa-html5"></i>GROUP MANAGEMENT</a></li>
                        <li><a href="#"><i class="fa fa-html5"></i>ROLE MANAGEMENT</a></li>
                        <li><a href="#"><i class="fa fa-html5"></i>PERMISSION MANAGEMENT</a></li>
                        <li><a href="#"><i class="fa fa-html5"></i>AUDIT MANAGEMENT</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3 equal-height-in">
                      <ul class="list-unstyled equal-height-list">
                        <li><h3>METRICS &amp; MONITORING</h3></li>
                        <li><a href="#"><i class="fa fa-html5"></i>AUTO CONFIG</a></li>
                        <li><a href="#"><i class="fa fa-html5"></i>BEANS</a></li>
                        <li><a href="#"><i class="fa fa-html5"></i>CONFIG PROPERTIES</a></li>
                        <li><a href="#"><i class="fa fa-html5"></i>DOCS</a></li>
                        <li><a href="#"><i class="fa fa-html5"></i>DUMP</a></li>
                        <li><a href="#"><i class="fa fa-html5"></i>ENVIRONMENT</a></li>
                        <li><a href="#"><i class="fa fa-html5"></i>HEALTH</a></li>
                        <li><a href="#"><i class="fa fa-html5"></i>INFO</a></li>
                        <li><a href="#"><i class="fa fa-html5"></i>LOG FILE</a></li>
                        <li><a href="#"><i class="fa fa-html5"></i>MAPPINGS</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <!-- End ADMINISTRATION -->
        <!-- Search Block -->
        <li>
          <i class="search fa fa-search search-btn"></i>
          <div class="search-open">
            <div class="input-group animated fadeInDown">
              <input type="text" class="form-control" placeholder="Search"/>
              <span class="input-group-btn">
                  <button class="btn-u" type="button">Go</button>
              </span>
            </div>
          </div>
        </li>
        <!-- End Search Block -->
      </ul>
    </div><!--/end container-->
  </div><!--/navbar-collapse-->
</div>
</body>
</html>