<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE" th:text="#{app.name}">YuQi</title>
</head>
<body>
<div th:replace="layouts/header :: header">&nbsp;</div>
<div class="container">
    <div layout:fragment="content">
        <h1>Static content for prototyping purposes only</h1>
        <p>Hello Thymeleaf</p>
    </div>
    <div th:replace="layouts/footer :: footer">&nbsp;</div>
</div>
</body>
</html>