/*
* Version: 1.8
* Purple Color: #9b6bcc;
* Purple Hover Color: #814fb5;
* Additional color: #e9def4;
* rgba(155, 107, 204, 1);
*/
a {
    color: #9b6bcc;
}

a:focus, a:hover, a:active {
    color: #9b6bcc;
}

/* Top Control
------------------------------------*/
#topControl:hover {
    background-color: #9b6bcc;
}

/* Headers
------------------------------------*/
.header .navbar-nav > .active > a {
    color: #9b6bcc;
}

.header .navbar-nav > .active > a {
    border-color: #9b6bcc;
}

.header .dropdown-menu {
    border-top: solid 2px #9b6bcc;
}

.header .navbar-nav > li:hover > a {
    color: #814fb5;
}

.header .nav > li > .search:hover {
    border-bottom-color: #814fb5;
    color: #814fb5;
}

.header .navbar-nav > li > a:hover, .header .navbar-nav > .active > a {
    border-bottom-color: #9b6bcc;
}

.header .navbar-toggle {
    border-color: #814fb5;
}

.header .navbar-toggle, .header .navbar-toggle:hover, .header .navbar-toggle:focus {
    background: #9b6bcc;
}

.header .navbar-toggle:hover {
    background: #814fb5 !important;
}

.header .navbar-nav > .open > a, .header .navbar-nav > .open > a:hover, .header .navbar-nav > .open > a:focus {
    color: #9b6bcc;
}

/* Design for max-width: 991px */
@media ( max-width: 991px) {
    .header .navbar-nav > .active > a, .header .navbar-nav > .active > a:hover, .header .navbar-nav > .active > a:focus {
        background: #9b6bcc;
        color: #fff !important;
    }

    .header .navbar-nav > .active > a {
        border-color: #eee;
    }

    .header .nav > li > .search:hover {
        background: #9b6bcc;
    }
}

/* Footer
------------------------------------*/
.copyright a, .copyright a:hover {
    color: #9b6bcc;
}

/* Breadcrumb
------------------------------------*/
.breadcrumb li.active, .breadcrumb li a:hover {
    color: #9b6bcc;
}

/* Buttons
------------------------------------*/
.btn-default {
    background: #9b6bcc;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background: #814fb5;
    color: #fff;
}

.panel {
    border-color: #9b6bcc;
}

.panel > .panel-heading {
    background: #9b6bcc;
}

/* Pagination */
.pagination li a:hover {
    background: #814fb5;
    border-color: #814fb5;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover,
.pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    border-color: #9b6bcc;
    background-color: #9b6bcc;
}