/*
* Version: 1.8
* Teal Color: #18ba9b;
* Teal Hover Color: #2cd5b6;
* Additional color: #d9efeb;
* rgba(24, 186, 155, 1);
*/
a {
    color: #18ba9b;
}

a:focus, a:hover, a:active {
    color: #18ba9b;
}

/* Top Control
------------------------------------*/
#topControl:hover {
    background-color: #18ba9b;
}

/* Headers Default
------------------------------------*/
.header .navbar-nav > .active > a {
    color: #18ba9b;
}

.header .navbar-nav > .active > a {
    border-color: #18ba9b;
}

.header .dropdown-menu {
    border-top: solid 2px #18ba9b;
}

.header .navbar-nav > li:hover > a {
    color: #2cd5b6;
}

.header .nav > li > .search:hover {
    border-bottom-color: #2cd5b6;
    color: #2cd5b6;
}

.header .navbar-nav > li > a:hover, .header .navbar-nav > .active > a {
    border-bottom-color: #18ba9b;
}

.header .navbar-toggle {
    border-color: #2cd5b6;
}

.header .navbar-toggle, .header .navbar-toggle:hover, .header .navbar-toggle:focus {
    background: #18ba9b;
}

.header .navbar-toggle:hover {
    background: #2cd5b6 !important;
}

.header .navbar-nav > .open > a, .header .navbar-nav > .open > a:hover, .header .navbar-nav > .open > a:focus {
    color: #18ba9b;
}

/* Design for max-width: 991px */
@media ( max-width: 991px) {
    .header .navbar-nav > .active > a, .header .navbar-nav > .active > a:hover, .header .navbar-nav > .active > a:focus {
        background: #18ba9b;
        color: #fff !important;
    }

    .header .navbar-nav > .active > a {
        border-color: #eee;
    }

    .header .nav > li > .search:hover {
        background: #18ba9b;
    }
}

/* Footer
------------------------------------*/
.copyright a, .copyright a:hover {
    color: #18ba9b;
}

/* Breadcrumb
------------------------------------*/
.breadcrumb li.active, .breadcrumb li a:hover {
    color: #18ba9b;
}

/* Buttons
------------------------------------*/
.btn-u {
    background: #18ba9b;
}

.btn-u:hover, .btn-u:focus, .btn-u:active, .btn-u.active, .open .dropdown-toggle.btn-u {
    background: #2cd5b6;
    color: #fff;
}

.panel {
    border-color: #18ba9b;
}

.panel > .panel-heading {
    background: #18ba9b;
}

/* Pagination */
.pagination li a:hover {
    background: #2cd5b6;
    border-color: #2cd5b6;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover,
.pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    border-color: #18ba9b;
    background-color: #18ba9b;
}