<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/v01/layout">
<head>
  <title>Brand &amp; Social Buttons</title>
  <link rel="stylesheet" th:href="@{/theme/css/blocks/heading-v1.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/brand-buttons/brand-buttons.css}"/>
  <link rel="stylesheet" th:href="@{/theme/css/plugins/brand-buttons/brand-buttons-inversed.css}"/>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">Brand &amp; Social Buttons</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="#" th:href="@{/showcase}">Showcase</a></li>
      <li>Features</li>
      <li class="active">Brand &amp; Social Buttons</li>
    </ul>
  </div>
</div>
<div layout:fragment="content" class="container content">
  <div class="heading heading-v1 margin-bottom-40">
    <h2>Brand and Social Buttons</h2>
    <p>Atvero eosa ccusamus et iustoodio dignissimos ducimus quiblanditiis praesentium voluptatum deleniti atque
      corrupti quos dolores etquas molestias excepturi sint occaecati cupiditate.</p>
  </div>

  <!--Buttons With Font Awesome-->
  <div class="headline"><h2 class="heading-sm">Buttons with Font Awesome</h2></div>
  <div class="row brand-page margin-bottom-40">
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-android">
        <i class="fa fa-android"></i> Android
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-bitcoin">
        <i class="fa fa-bitcoin"></i> Bitcoin
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-bitbucket">
        <i class="fa fa-bitbucket"></i> Bitbucket
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-dribbble">
        <i class="fa fa-dribbble"></i> Dribbble
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-dropbox">
        <i class="fa fa-dropbox"></i> Dropbox
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-facebook">
        <i class="fa fa-facebook"></i> Facebook
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-flickr">
        <i class="fa fa-flickr"></i> Flickr
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-foursquare">
        <i class="fa fa-foursquare"></i> Foursquare
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-googleplus">
        <i class="fa fa-google-plus"></i> Google+
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-html5">
        <i class="fa fa-html5"></i> HTML5
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-instagram">
        <i class="fa fa-instagram"></i> Instagram
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-linkedin">
        <i class="fa fa-linkedin"></i> LinkedIn
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-pinterest">
        <i class="fa fa-pinterest"></i> Pinterest
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-rss">
        <i class="fa fa-rss"></i> RSS
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-skype">
        <i class="fa fa-skype"></i> Skype
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-stackoverflow">
        <i class="fa fa-stack-overflow"></i> StackOverflow
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-tumblr">
        <i class="fa fa-tumblr"></i> Tumblr
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-twitter">
        <i class="fa fa-twitter"></i> Twitter
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-vk">
        <i class="fa fa-vk"></i> VK
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-weibo">
        <i class="fa fa-weibo"></i> Weibo
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-windows">
        <i class="fa fa-windows"></i> Windows
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-xing">
        <i class="fa fa-xing"></i> Xing
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-youtube">
        <i class="fa fa-youtube-play"></i> YouTube
      </button>
    </div>
  </div>
  <!--End Buttons With Font Awesome-->

  <!--Socials Buttons-->
  <div class="headline"><h2 class="heading-sm">Socials Buttons</h2></div>
  <div class="row brand-page margin-bottom-40">
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-appnet">
        appnet
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-blogger">
        blogger
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-bitbucket">
        bitbucket
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-dribbble">
        dribbble
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-facebook">
        facebook
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-flattr">
        flattr
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-flickr">
        flickr
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-foursquare">
        foursquare
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-github">
        github
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-googleplus">
        googleplus
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-gowalla">
        gowalla
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-instagram">
        instagram
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-klout">
        klout
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-lastfm">
        lastfm
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-linkedin">
        linkedin
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-meetup">
        meetup
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-myspace">
        myspace
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-pinterest">
        pinterest
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-quora">
        quora
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-reddit">
        reddit
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-plurk">
        plurk
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-smashing">
        smashing
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-soundcloud">
        soundcloud
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-stackoverflow">
        stackoverflow
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-tumblr">
        tumblr
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-twitter">
        twitter
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-viadeo">
        viadeo
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-vimeo">
        vimeo
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-vk">
        vk
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-weibo">
        weibo
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-xing">
        xing
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-youtube">
        youtube
      </button>
    </div>
  </div>
  <!--End Socials Buttons-->

  <!--Service Buttons-->
  <div class="headline"><h2 class="heading-sm">Services</h2></div>
  <div class="row brand-page margin-bottom-40">
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-amazon">
        amazon
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-delicious">
        delicious
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-digg">
        digg
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-disqus">
        disqus
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-eventbrite">
        eventbrite
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-eventful">
        eventful
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-intensedebate">
        intensedebate
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-lanyrd">
        lanyrd
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-pinboard">
        pinboard
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-songkick">
        songkick
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-stumbleupon">
        stumbleupon
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-gmail">
        gmail
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-google">
        google
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-evernote">
        evernote
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-grooveshark">
        grooveshark
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-instapaper">
        instapaper
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-itunes">
        itunes
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-opentable">
        opentable
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-logmein">
        logmein
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-ninetyninedesigns">
        ninetyninedesigns
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-paypal">
        paypal
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-pocket">
        pocket
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-scribd">
        scribd
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-spotify">
        spotify
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-statusnet">
        statusnet
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-stripe">
        stripe
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-yahoo">
        yahoo
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-yelp">
        yelp
      </button>
    </div>
  </div>
  <!--End Service Buttons-->

  <!--Button Content Sites-->
  <div class="headline"><h2 class="heading-sm">Content Sites</h2></div>
  <div class="row brand-page margin-bottom-40">
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-wikipedia">
        wikipedia
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-wordpress">
        wordpress
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-ycombinator">
        ycombinator
      </button>
    </div>
  </div>
  <!--End Button Content Sites-->

  <!--Stores Button-->
  <div class="headline"><h2 class="heading-sm">Button Stores</h2></div>
  <div class="row brand-page margin-bottom-40">
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-android">
        android
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-appstore">
        appstore
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-googleplay">
        googleplay
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-macstore">
        macstore
      </button>
    </div>
  </div>
  <!--End Stores Button-->

  <!--Game Buttons-->
  <div class="headline"><h2 class="heading-sm">Game Buttons</h2></div>
  <div class="row brand-page margin-bottom-40">
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-csgo">
        csgo
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-dota2">
        dota2
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-gm">
        gm
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-lol">
        lol
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-minecraft">
        minecraft
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-tf2">
        tf2
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-quake">
        quake
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-wot">
        wot
      </button>
    </div>
  </div>
  <!--End Game Buttons-->

  <!--Misc Button-->
  <div class="headline"><h2 class="heading-sm">Misc Buttons</h2></div>
  <div class="row brand-page margin-bottom-40">
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-bitcoin">
        bitcoin
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-cloudapp">
        cloudapp
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-creativecommons">
        creativecommons
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-dropbox">
        dropbox
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-html5">
        html5
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-ie">
        ie
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-podcast">
        podcast
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-rss">
        rss
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-skype">
        skype
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-steam">
        steam
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-windows">
        windows
      </button>
    </div>
  </div>
  <!--End Misc Button-->

  <!--Inversed and Rounded Buttons-->
  <div class="headline"><h2 class="heading-sm">Inversed and Rounded Buttons</h2></div>
  <div class="row brand-page margin-bottom-40">
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-android-inversed rounded">
        <i class="fa fa-android"></i> Android
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-bitcoin-inversed rounded">
        <i class="fa fa-bitcoin"></i> Bitcoin
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-bitbucket-inversed rounded">
        <i class="fa fa-bitbucket"></i> Bitbucket
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-dribbble-inversed rounded">
        <i class="fa fa-dribbble"></i> Dribbble
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-dropbox-inversed rounded">
        <i class="fa fa-dropbox"></i> Dropbox
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-facebook-inversed rounded">
        <i class="fa fa-facebook"></i> Facebook
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-flickr-inversed rounded">
        <i class="fa fa-flickr"></i> Flickr
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-foursquare-inversed rounded">
        <i class="fa fa-foursquare"></i> Foursquare
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-googleplus-inversed rounded">
        <i class="fa fa-google-plus"></i> Google+
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-html5-inversed rounded">
        <i class="fa fa-html5"></i> HTML5
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-instagram-inversed rounded">
        <i class="fa fa-instagram"></i> Instagram
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-linkedin-inversed rounded">
        <i class="fa fa-linkedin"></i> LinkedIn
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-pinterest-inversed rounded">
        <i class="fa fa-pinterest"></i> Pinterest
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-rss-inversed rounded">
        <i class="fa fa-rss"></i> RSS
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-skype-inversed rounded">
        <i class="fa fa-skype"></i> Skype
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-stackoverflow-inversed rounded">
        <i class="fa fa-stack-overflow"></i> StackOverflow
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-tumblr-inversed rounded">
        <i class="fa fa-tumblr"></i> Tumblr
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-twitter-inversed rounded">
        <i class="fa fa-twitter"></i> Twitter
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-vk-inversed rounded">
        <i class="fa fa-vk"></i> VK
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-weibo-inversed rounded">
        <i class="fa fa-weibo"></i> Weibo
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-windows-inversed rounded">
        <i class="fa fa-windows"></i> Windows
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-xing-inversed rounded">
        <i class="fa fa-xing"></i> Xing
      </button>
    </div>
    <div class="col-sm-6 col-md-3">
      <button class="btn btn-block btn-youtube-inversed rounded">
        <i class="fa fa-youtube-play"></i> YouTube
      </button>
    </div>
  </div>
  <!--Inversed and Rounded Buttons-->

  <!--Different Styles-->
  <div class="row brand-page margin-bottom-40">
    <!--Different Uses-->
    <div class="col-md-6">
      <div class="headline"><h2 class="heading-sm">Different Uses</h2></div>
      <div>
        <button class="btn btn-xs btn-facebook fa-fixed">
          <i class="fa fa-facebook"></i>
        </button>
      </div>
      <div>
        <button class="btn btn-sm btn-facebook">
          Facebook
        </button>
      </div>
      <div>
        <button class="btn btn-facebook">
          <i class="fa fa-facebook"></i> Facebook
        </button>
      </div>
      <div>
        <button class="btn btn-lg btn-facebook">
          <i class="fa fa-facebook"></i> Connect with Facebook <i class="fa fa-angle-right"></i>
        </button>
      </div>
      <div>
        <button class="btn btn-block btn-lg btn-facebook-inversed">
          <i class="fa fa-facebook"></i> Connect with Facebook
        </button>
      </div>
    </div>
    <!--End Different Uses-->

    <!--Rounded Style-->
    <div class="col-md-6">
      <div class="headline"><h2 class="heading-sm">Rounded Style</h2></div>
      <div>
        <button class="btn rounded btn-xs btn-twitter fa-fixed">
          <i class="fa fa-twitter"></i>
        </button>
      </div>
      <div>
        <button class="btn rounded btn-sm btn-twitter">
          Twitter
        </button>
      </div>
      <div>
        <button class="btn rounded btn-twitter">
          <i class="fa fa-twitter"></i> Twitter
        </button>
      </div>
      <div>
        <button class="btn rounded btn-lg btn-twitter">
          <i class="fa fa-twitter"></i> Connect with Twitter <i class="fa fa-angle-right"></i>
        </button>
      </div>
      <div>
        <button class="btn rounded btn-block btn-lg btn-twitter-inversed">
          <i class="fa fa-twitter"></i> Connect with Twitter
        </button>
      </div>
    </div>
    <!--End Rounded Style-->
  </div>
  <!--End Different Styles-->
</div>
</body>
</html>
