<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:yq="http://www.yqboots.com" xmlns="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
  <title th:text="#{T0060}">User Management</title>
</head>
<body>
<div layout:fragment="breadcrumbs">
  <yq:breadcrumbs menu="PROJECT_SECURITY_USER"/>
</div>
<div class="content content-sm height-600" layout:fragment="content">
  <div class="container">
    <yq:alert level="danger" />
    <form class="sky-form" action="#" th:action="@{/project/security/user}" th:object="${model}" method="post">
      <input th:field="*{id}" type="hidden"/>
      <header th:text="#{T0063}">User Maintenance Form</header>
      <fieldset>
        <div class="row">
          <section class="col col-6">
            <label class="label" th:text="#{T0053}">Username</label>
            <label class="input">
              <input th:field="*{username}" type="text" maxlength="64"/>
            </label>

            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
          </section>
          <section class="col col-6"></section>
        </div>
      </fieldset>
      <fieldset>
        <div class="row">
          <section class="col col-6">
            <label class="label" th:text="#{T0072}">Selectable Groups</label>
            <label class="select select-multiple">
              <select multiple="multiple" size="5">
                <option value="1">USER</option>
                <option value="2">ADMIN</option>
              </select>
            </label>

            <button class="btn-u" type="button">
              <i class="fa fa-angle-double-right"></i> <span th:text="#{T0078}">Add All</span>
            </button>
            <button class="btn-u" type="button">
              <i class="fa fa-angle-right"></i> <span th:text="#{T0079}">Add</span>
            </button>
          </section>
          <section class="col col-6">
            <label class="label" th:text="#{T0073}">Selected Groups</label>
            <label class="select select-multiple">
              <select multiple="multiple" size="5" th:field="*{groups}">
                <option value="1">USER</option>
              </select>
            </label>

            <button class="btn-u" type="button">
              <i class="fa fa-angle-double-right"></i> <span th:text="#{T0080}">Remove All</span>
            </button>
            <button class="btn-u" type="button">
              <i class="fa fa-angle-right"></i> <span th:text="#{T0081}">Remove</span>
            </button>
          </section>
        </div>
      </fieldset>
      <fieldset>
        <div class="row">
          <section class="col col-6">
            <label class="label" th:text="#{T0076}">Selectable Roles</label>
            <label class="select select-multiple">
              <select multiple="multiple" size="5">
                <option value="1">USER</option>
                <option value="2">ADMIN</option>
              </select>
            </label>

            <button class="btn-u" type="button">
              <i class="fa fa-angle-double-right"></i> <span th:text="#{T0078}">Add All</span>
            </button>
            <button class="btn-u" type="button">
              <i class="fa fa-angle-right"></i> <span th:text="#{T0079}">Add</span>
            </button>
          </section>
          <section class="col col-6">
            <label class="label" th:text="#{T0077}">Selected Roles</label>
            <label class="select select-multiple">
              <select multiple="multiple" size="5" th:field="*{roles}">
                <option value="1">USER</option>
              </select>
            </label>

            <button class="btn-u" type="button">
              <i class="fa fa-angle-double-right"></i> <span th:text="#{T0080}">Remove All</span>
            </button>
            <button class="btn-u" type="button">
              <i class="fa fa-angle-right"></i> <span th:text="#{T0081}">Remove</span>
            </button>
          </section>
        </div>
      </fieldset>
      <footer>
        <button class="btn-u" type="submit" th:text="#{T0012}">Submit</button>
        <button class="btn-u" type="reset" th:text="#{T0013}">Reset</button>
      </footer>
    </form>
  </div>
</div>
</body>
</html>