<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<footer th:fragment="footer">
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>&copy;<span th:text="#{T0002}">2016</span> <a href="http://help.yqboots.com/pages/about/aboutMe.html"
                                                           target="_blank" th:text="#{T0001}">Company Name</a>
            <span th:text="#{T0003}">All Rights Reserved</span>. <span>ICP证: 粤ICP备16083474号-1</span></p>
        </div>
        <div class="col-md-4">
          <ul class="footer-socials list-inline">
            <li>
              <a class="tooltips" data-toggle="tooltip" data-placement="top" data-original-title="LinkedIn"
                 href="http://www.linkedin.com/in/eric-zhan-36810951" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a class="tooltips" data-toggle="tooltip" data-placement="top" data-original-title="GitHub"
                 href="https://github.com/zhanhongbo1112/" target="_blank">
                <i class="fa fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>