<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:yq="http://www.yqboots.com"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="../../META-INF/resources/theme/application.css" th:remove="all"/>
  <link rel="stylesheet" href="../../META-INF/resources/theme/css/theme-colors/green.css" th:remove="all"/>
</head>
<body>
<header class="header header-sticky" th:fragment="header">
  <div class="container">
    <!-- Logo -->
    <a class="logo" th:href="@{/}">
      <img src="../../META-INF/resources/theme/images/logo-green.png" th:src="@{/theme/images/logo-green.png}"/>
    </a>
    <!-- End Logo -->

    <!-- Topbar -->
    <div class="topbar">
      <ul class="loginbar pull-right">
        <!-- remove th:remove if supporting multiple languages th:remove="all" -->
        <li class="hoverSelector">
          <i class="fa fa-globe"></i>
          <a><span th:text="#{T0005}">Languages</span></a>
          <ul class="languages hoverSelectorBlock">
            <li><a href="#" th:href="@{?locale=en}" th:text="#{lang.en}">English</a></li>
            <li><a href="#" th:href="@{?locale=zh_CN}" th:text="#{lang.zh_CN}">Chinese</a></li>
          </ul>
        </li>
        <li class="topbar-divider"></li>
        <li><a href="http://help.yqboots.com" target="_blank" th:text="#{T0006}">Help</a></li>
        <li class="topbar-divider"></li>
        <li>
          <span sec:authorize="isAuthenticated()">
            <a href="#" th:href="@{/logout}" th:title="#{T0058}"><i class="fa fa-sign-out"></i></a>
          </span>
          <span sec:authorize="not isAuthenticated()">
            <a href="#" th:href="@{/security/login}"><i class="fa fa-sign-in"></i></a>
          </span>
        </li>
        <li>&nbsp;</li>
      </ul>
    </div>
    <!-- End Topbar -->

    <!-- Toggle get grouped for better mobile display -->
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- End Toggle -->
  </div>
  <!--/end container-->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
    <div class="container">
      <ul class="nav navbar-nav">
        <li>
          <a href="javascript:void(0);" th:href="@{/}">
            <i class="glyphicon glyphicon-home"></i> <span th:text="#{T0004}">HOME</span>
          </a>
        </li>
        <li class="dropdown" th:remove="all">
          <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" th:text="#{T0041}">Projects</a>
          <ul class="dropdown-menu">
            <li><a href="#" th:href="@{/projects/framework}" th:text="#{T0042}">YQBoots Framework</a></li>
          </ul>
        </li>
        <yq:menus layout="full-width"/>
      </ul>
    </div>
    <!--/end container-->
  </div>
  <!--/navbar-collapse-->
</header>
<script src="../../META-INF/resources/dojo/jquery.js" th:remove="all"></script>
<script src="../../META-INF/resources/dojo/bootstrap.js" th:remove="all"></script>
</body>
</html>