/*Default Breadcrumbs*/
.breadcrumbs {
    overflow: hidden;
    padding: 10px 0 6px;
    border-bottom: solid 1px #eee;
    background: url(../../images/patterns/breadcrumbs.png) repeat;
}

.breadcrumbs h1 {
    color: #666;
    font-size: 22px;
    margin-top: 8px;
}

.breadcrumb {
    top: 10px;
    z-index: 1;
    padding-right: 0;
    background: none;
    position: relative;
}

.breadcrumb a {
    color: #777;
}

.breadcrumb li.active, .breadcrumb li a:hover {
    text-decoration: none;
}

@media (max-width: 550px) {
    .breadcrumbs h1.pull-left,
    .breadcrumbs ul.pull-right {
        width: 100%;
        text-align: center;
    }

    .breadcrumbs h1.pull-left {
        margin-bottom: 0;
    }

    .breadcrumbs .breadcrumb {
        top: 0;
        margin-bottom: 10px;
    }
}

/* Pagination
------------------------------------*/
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span,
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-radius: 0;
}

.pagination li a {
    color: #777;
    padding: 5px 15px;
}

.pagination li a:hover {
    color: #fff;
}

/*Pagination Without Space*/
.pagination-no-space .pagination {
    margin: 0;
}

/*Pager
------------------------------------*/
.pager li > a,
.pager li > span {
    border-radius: 0;
}

/*Pager
------------------------------------*/
.pager li > a:hover,
.pager li > a:focus {
    color: #fff;
}

/*Tabs
------------------------------------*/
.nav-tabs > li > a,
.nav-pills > li > a,
.nav-tabs.nav-justified > li > a {
    border-radius: 0;
}

.tab .nav-tabs {
    border: none;
    background: none;
}

.tab .nav-tabs a {
    font-size: 14px;
    padding: 5px 15px;
}

.tab .nav-tabs > .active > a,
.tab .nav-tabs > .active > a:hover,
.tab .nav-tabs > .active > a:focus {
    color: #fff;
    border: none;
}

.tab .nav-tabs > li > a {
    border: none;
}

.tab .nav-tabs > li > a:hover {
    color: #fff;
}

.tab .tab-content {
    padding: 10px 0;
}

.tab .tab-content img {
    margin-top: 4px;
    margin-bottom: 15px;
}

.tab .tab-content img.img-tab-space {
    margin-top: 7px;
}

/* Sidebar List Toggle
------------------------------------*/
.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}

.list-toggle:after {
    top: 7px;
    right: 10px;
    color: #777;
    font-size: 14px;
    content: "\f105";
    position: absolute;
    font-weight: normal;
    display: inline-block;
    font-family: FontAwesome;
}

.list-toggle.active:after {
    color: #fff;
    content: "\f107";
}

/*--------------------------------------------------
	Tree
----------------------------------------------------*/
.tree {
    max-width: 300px;
    overflow: auto
}

/*remove padding from "Col-"*/
.no-space {
    padding: 0;
}

.no-space-left {
    padding-left: 0;
    padding-right: 15px !important;
}

.no-space-right {
    padding-right: 0;
    padding-left: 15px !important;
}

/*--------------------------------------------------
	[Back To Top]
----------------------------------------------------*/
#topControl {
    color: #fff;
    z-index: 99;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background: #222;
    position: relative;
    right: 14px !important;
    bottom: 11px !important;
    border-radius: 3px !important;
}

#topControl:after {
    top: -2px;
    left: 8.5px;
    content: "\f106";
    position: absolute;
    text-align: center;
    font-family: FontAwesome;
}

#topControl:hover {
    color: #fff;
    transition: all 0.3s ease-in-out;
}